.alert{
  background: rgb(247, 56, 56);
  border: 1px solid rgb(128, 0, 0);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 295px;
  margin-top: 15px;
}

.label-alert{
  font-size: 20px;
  color: rgb(95, 5, 5);
}

.title{
  font-size: 25px;
  margin-top: 2%;
  margin-left: 2%;
}

.button{
  background-color: #029954;
  padding: 15px 30px;
  color: white;
  border-radius: 10px;
  font-size: 17px;
}

.button:hover{
    background-color: #047c4e;
    color: white;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-searcher{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.container-searcher-item{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
}

.container-searcher-div{
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.item{
  font-size: 20px;
  margin-left: 5px;
}

.total{
  display: flex;
  justify-content: center;
}