<h1 class="title">Consultar Producto</h1>
<span class="container">
  <div [formGroup]="form">
    <span class="container-searcher">
      <h3>Productos: </h3>
      <mat-form-field style="margin-left: 10px; width: 290px;">
        <mat-select placeholder="Seleccione un producto" (selectionChange)="getCodigoSelectedProducto($event.value)" formControlName="productoId">
          <mat-option *ngFor="let producto of productos" [value]="producto.nombre">
            {{producto.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>

    <!-- este div se muestra si no hay prediccion -->
    <div *ngIf="seleccionProducto && !hayPrediccion">
      <span class="container-searcher-item">
        <h3>Nombre: </h3>
        <p class="item">{{selectedProducto.nombre}}</p>
      </span>
      <span class="container-searcher-item">
        <h3>Código: </h3>
        <p class="item">{{selectedProducto.codigo}}</p>
      </span>
      <span class="container-searcher-item">
        <h3>Presentación: </h3>
        <p class="item">{{selectedProducto.presentacion}}</p>
      </span>
      <span class="container-searcher-item">
        <h3>Stock: </h3>
        <p class="item">{{selectedProducto.stock}}</p>
      </span>
    </div>
    
    <!-- este div se muestra si hay prediccion -->
    <div *ngIf="seleccionProducto && hayPrediccion" class="container-searcher-div">
      <div>
        <span class="container-searcher-item">
          <h3>Nombre: </h3>
          <p class="item">{{selectedProducto.nombre}}</p>
        </span>
        <span class="container-searcher-item">
          <h3>Código: </h3>
          <p class="item">{{selectedProducto.codigo}}</p>
        </span>
        <span class="container-searcher-item">
          <h3>Presentación: </h3>
          <p class="item">{{selectedProducto.presentacion}}</p>
        </span>
        <span class="container-searcher-item">
          <h3>Stock: </h3>
          <p class="item">{{selectedProducto.stock}}</p>
        </span>
      </div>

      <div>
        <span class="container-searcher-item">
          <h3>Fecha Predicción: </h3>
          <p class="item">{{fechaPrediccion | date: 'dd/MM/yyyy'}}</p>
        </span>
        <span class="container-searcher-item">
          <h3>Predicción 1ra Semana: </h3>
          <p class="item">{{semana1}}</p>
        </span>
        <span class="container-searcher-item">
          <h3>Predicción 2da Semana: </h3>
          <p class="item">{{semana2}}</p>
        </span>
        <span class="container-searcher-item">
          <h3>Predicción 3ra Semana: </h3>
          <p class="item">{{semana3}}</p>
        </span>
      </div>
    </div>
    <div class="total" *ngIf="seleccionProducto && hayPrediccion">
      <span class="container-searcher-item">
        <h3>Total Predicción: </h3>
        <p class="item">{{totalSemanas}}</p>
      </span>
    </div>

    <div class="alert" *ngIf="stockCritico">
      <label class="label-alert">Stock crítico</label>
    </div>

  </div>
</span>