<h1 class="title">Consultar Stock Crítico</h1>
<span class="container">
  <div>
    <table mat-table [dataSource]="dataSource" style="width: 650px;" class="mat-elevation-z8" matTableExporter #exporter="matTableExporter">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let producto"> {{producto.nombre}} </td>
      </ng-container>
    
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let producto"> {{producto.codigo}} </td>
      </ng-container>
    
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef> Stock </th>
        <td mat-cell *matCellDef="let producto"> {{producto.stock}} </td>
      </ng-container>

      <ng-container matColumnDef="prediccion">
        <th mat-header-cell *matHeaderCellDef> Predicción </th>
        <td mat-cell *matCellDef="let producto"> {{producto.predicciones[0].cantidad + 
                                                   producto.predicciones[1].cantidad + 
                                                   producto.predicciones[2].cantidad}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,25]" showFirstLastButtons></mat-paginator>
  </div> 
  <button mat-button class="button" (click)="exporter.exportTable('xlsx', {fileName:'Stock Crítico', sheet: 'Productos'})">Descargar</button>
</span>

