.title{
  font-size: 25px;
  margin-top: 2%;
  margin-left: 2%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button{
  background-color: #029954;
  padding: 15px 30px;
  color: white;
  border-radius: 10px;
  font-size: 17px;
}


.button:hover{
    background-color: #047c4e;
    color: white;
}