<h1 class="title">Actualizar modelo de predicción</h1>
<span class="container">
  <div hidden>
    <table mat-table [dataSource]="dataSource" style="width: 650px;" class="mat-elevation-z8" matTableExporter #exporter="matTableExporter">
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let dato">{{dato.codigo}}</td>
      </ng-container>
    
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let dato">{{dato.nombre}}</td>
      </ng-container>
    
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let dato">{{dato.cantidad}}</td>
      </ng-container>
    
      <ng-container matColumnDef="semana">
        <th mat-header-cell *matHeaderCellDef>Semana</th>
        <td mat-cell *matCellDef="let dato">{{dato.semana}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div> 
  <button mat-button *ngIf="!showLabel && buttonAbled" class="button" (click)="exporter.exportTable('xlsx', {fileName:'Datos para modelo de predicción', sheet: 'Salidas'})">Actualizar modelo manualmente</button>
  <button mat-button *ngIf="!showLabel && buttonAbled" class="button" (click)="changeLabel()">Actualizar modelo automáticamente</button>
  <button mat-button *ngIf="showLabel || !buttonAbled" class="button-disabled" disabled >Actualizar modelo manualmente</button>
  <button mat-button *ngIf="showLabel || !buttonAbled" class="button-disabled" disabled >Actualizar modelo automáticamente</button>
</span>
<span style="display: flex; justify-content: center;" *ngIf="showLabel">
  <div class="success">
    <label class="label-success">Se ha actualizado con exito el modelo</label>
  </div>
</span>