.title{
  font-size: 25px;
  margin-top: 2%;
  margin-left: 2%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button{
  background-color: #029954;
  padding: 15px 30px;
  color: white;
  border-radius: 10px;
  font-size: 17px;
  margin-top: 150px;
}

.button:hover{
    background-color: #047c4e;
    color: white;
}

.button-disabled{
  background-color: #a8a8a8;
  padding: 15px 30px;
  color: rgb(10, 10, 10);
  border-radius: 10px;
  font-size: 17px;
  margin-top: 150px;
}

.success{
  background: rgb(133, 233, 133);
  border: 1px solid rgb(41, 182, 6);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  margin-top: 60px;
  width: 500px;
  display: flex;
  justify-content: center;
}

.label-success{
  font-size: 20px;
  color: rgb(41, 182, 6);
}