<h1 class="title">Registrar Producto</h1>
<span class="container">
  <div [formGroup]="form">

    <span class="container-searcher-item">
      <h3>Código: </h3>
      <mat-form-field style="margin-left: 15px; width: 300px;">
        <input matInput type="text" formControlName="codigo" placeholder="Ej: N403122" (change)="changeCodigo()">
      </mat-form-field>
    </span>

    <span class="container-searcher-item">
      <h3>Nombre: </h3>
      <mat-form-field style="margin-left: 15px; width: 300px;">
        <input matInput type="text" formControlName="nombre" placeholder="Ej: RDT 194" (change)="changeNombre()">
      </mat-form-field>
    </span>
    
    <span class="container-searcher-item">
      <h3>Presentación: </h3>
      <mat-form-field style="margin-left: 15px; width: 300px;">
        <input matInput type="text" formControlName="presentacion" placeholder="Ej: Rollos" (change)="changePresentacion()">
      </mat-form-field>
    </span>

    <span class="container-searcher-item">
      <h3>Stock Inicial: </h3>
      <mat-form-field style="margin-left: 15px; width: 300px;">
        <input matInput type="number" min="1" formControlName="stock" placeholder="Ej: 5" (change)="changeStock()">
      </mat-form-field>
    </span>
  </div>
  
  <span class="container-searcher-item">
    <button mat-button class="button" (click)="postProducto()" *ngIf="!productoCargado">
      Aceptar
    </button>
    <button mat-button disabled class="button-disabled" *ngIf="productoCargado">
      Aceptar
    </button>
    <button mat-button class="button" style="margin-left: 100px;" (click)="limpiar()">
      Limpiar
    </button>
  </span>
</span>

<span style="display: flex; justify-content: center;" *ngIf="productoCargado">
  <div class="success">
    <label class="label-success">Se ha registrado con exito el nuevo producto</label>
  </div>
</span>

<span style="display: flex; justify-content: center;" *ngIf="faltanDatos">
  <div class="alert">
    <label class="label-alert">Recuerde completar todos los campos</label>
  </div>
</span>
