.title{
  font-size: 25px;
  margin-top: 2%;
  margin-left: 2%;
}

.button{
  background-color: #029954;
  padding: 15px 30px;
  color: white;
  border-radius: 10px;
  font-size: 17px;
}

.button:hover{
    background-color: #047c4e;
    color: white;
}

.container{
  display: flex;
  align-items:flex-start;
  justify-content: space-around;
}

.container-searcher-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.container-searcher-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.alert{
  background: rgb(240, 241, 135);
  border: 1px solid rgb(169, 185, 20);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  margin-top: 120px;
}

.label-alert{
  font-size: 20px;
  color: rgb(169, 185, 20);
}