<h1 class="title">Consultar Salida</h1>
<span class="container">
  <div [formGroup]="form">
    <span class="container-searcher-item">
      <h3>Productos: </h3>
      <mat-form-field style="margin-left: 10px; width: 290px;">
        <mat-select placeholder="Seleccione un producto" (selectionChange)="getCodigoSelectedSalida($event.value)" formControlName="productoId">
          <mat-option *ngFor="let producto of productos" [value]="producto.nombre">
            {{producto.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
      
    <span class="container-searcher-item">
      <h3>Fecha:</h3>
      <mat-form-field style="margin-left: 15px; width: 315px;">
        <mat-label>Seleccione una fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" (dateChange)="getSelectedFecha($event.value)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </span>
  
    <span class="container-searcher-button">
      <button mat-button class="button" style="margin-right: 100px; margin-top: 10px;" (click)="getSalidas()">
        Aceptar
      </button>
      <button mat-button class="button" style="margin-left: 25px; margin-top: 10px;" (click)="limpiar()">
        Limpiar
      </button>
    </span>
  </div>

  <div *ngIf="tablaActiva" style="margin-top: 40px;">
    <table mat-table [dataSource]="dataSource" style="width: 500px;" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let salida"> {{salida.salidaId}} </td>
      </ng-container>
    
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let salida"> {{salida.producto.nombre}} </td>
      </ng-container>
    
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let salida"> {{salida.fecha |  date: 'dd/MM/yyyy'}} </td>
      </ng-container>
    
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let salida"> {{salida.cantidad}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</span>
<span style="display: flex; justify-content: center;">
  <div class="alert" *ngIf="!seleccionParametros">
    <label class="label-alert">Recuerde seleccionar al menos un criterio de busqueda</label>
  </div>
</span>