<h1 class="title">Registrar Entrada</h1>
<span class="container">
  <div class="container-searcher" [formGroup]="form">

    <span class="container-searcher-item">
      <h3>Productos: </h3>
      <mat-form-field style="width: 300px;">
        <mat-select placeholder="Seleccione un producto" (selectionChange)="getCodigoSelectedProducto($event.value)" formControlName="productoId">
          <mat-option *ngFor="let producto of productos" [value]="producto.nombre">
            {{producto.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>

    <span class="container-searcher-item">
      <h3>Cantidad: </h3>
      <mat-form-field style="margin-left: 15px; width: 300px;">
        <input matInput type="number" min="1" formControlName="cantidad" placeholder="Ej: 5" (change)="changeCantidad()">
      </mat-form-field>
    </span>
    
    <span class="container-searcher-item">
      <h3>N° Remito: </h3>
      <mat-form-field style="margin-left: 15px; width: 300px;">
        <input matInput type="text" formControlName="remito" placeholder="Ej: R0005-00011654" (change)="changeRemito()">
      </mat-form-field>
    </span>
  </div>
  
  <span class="container-searcher-item">
    <button mat-button class="button" style="margin-right: 100px;" (click)="postEntrada()" *ngIf="!entradaCargada">
      Aceptar
    </button>
    <button mat-button disabled style="margin-right: 100px;" class="button-disabled" *ngIf="entradaCargada">
      Aceptar
    </button>
    <button mat-button class="button" style="margin-left: 25px;" (click)="limpiar()">
      Limpiar
    </button>
  </span>
</span>

<span style="display: flex; justify-content: center;" *ngIf="entradaCargada">
  <div class="success">
    <label class="label-success">Se ha registrado con exito la entrada de material</label>
  </div>
</span>

<span style="display: flex; justify-content: center;" *ngIf="faltanDatos">
  <div class="alert">
    <label class="label-alert">Recuerde completar todos los campos</label>
  </div>
</span>