<h1 class="title">Consultar Predicciones</h1>
<span class="container">
  <div [formGroup]="form">
    <span class="container-searcher-item">
      <h3>Productos: </h3>
      <mat-form-field style="margin-left: 10px; width: 290px;">
        <mat-select placeholder="Seleccione un producto" (selectionChange)="getPrediccionesProducto()" formControlName="productoId">
          <mat-option *ngFor="let producto of productos" [value]="producto.nombre">
            {{producto.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
      
    <span class="container-item-info" *ngIf="tablaActiva">
      <h3>Nombre: </h3>
      <label>{{selectedProducto.nombre}}</label>
    </span>

    <span class="container-item-info" *ngIf="tablaActiva">
      <h3>Código: </h3>
      <label>{{selectedProducto.codigo}}</label>
    </span>

    <span class="container-item-info" *ngIf="tablaActiva">
      <h3>Presentación: </h3>
      <label>{{selectedProducto.presentacion}}</label>
    </span>
  </div>

  <div *ngIf="tablaActiva" style="margin-top: 40px;">
    <table mat-table [dataSource]="dataSource" style="width: 500px;" class="mat-elevation-z8">
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let prediccion"> {{prediccion.fecha | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
    
      <ng-container matColumnDef="semana 1">
        <th mat-header-cell *matHeaderCellDef> 1er Semana </th>
        <td mat-cell *matCellDef="let prediccion"> {{prediccion.semana1}} </td>
      </ng-container>
    
      <ng-container matColumnDef="semana 2">
        <th mat-header-cell *matHeaderCellDef> 2da Semana </th>
        <td mat-cell *matCellDef="let prediccion"> {{prediccion.semana2}} </td>
      </ng-container>

      <ng-container matColumnDef="semana 3">
        <th mat-header-cell *matHeaderCellDef> 3ra Semana </th>
        <td mat-cell *matCellDef="let prediccion"> {{prediccion.semana3}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[6, 12, 24]" showFirstLastButtons></mat-paginator>
  </div> 
</span>