<h1 class="title">Modificar Producto</h1>
<span class="container">
  <div [formGroup]="form">
    <span class="container-searcher-item">
      <h3>Productos: </h3>
      <mat-form-field style="margin-left: 10px; width: 290px;">
        <mat-select placeholder="Seleccione un producto" (selectionChange)="getCodigoSelectedProducto($event.value)" formControlName="productoId">
          <mat-option *ngFor="let producto of productos" [value]="producto.nombre">
            {{producto.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>

    <span class="container-searcher-item" *ngIf="seleccionProducto">
      <h3>Código: </h3>
      <mat-form-field style="margin-left: 15px; width: 300px;">
        <input matInput type="text" formControlName="codigo" placeholder="Ej: N403122" (change)="changeCodigo()">
      </mat-form-field>
    </span>

    <span class="container-searcher-item" *ngIf="seleccionProducto">
      <h3>Nombre: </h3>
      <mat-form-field style="margin-left: 15px; width: 300px;">
        <input matInput type="text" formControlName="nombre" placeholder="Ej: RDT 194" (change)="changeNombre()">
      </mat-form-field>
    </span>
    
    <span class="container-searcher-item" *ngIf="seleccionProducto">
      <h3>Presentación: </h3>
      <mat-form-field style="margin-left: 15px; width: 300px;">
        <input matInput type="text" formControlName="presentacion" placeholder="Ej: Rollos" (change)="changePresentacion()">
      </mat-form-field>
    </span>

    <!-- <span class="container-searcher-item" *ngIf="seleccionProducto">
      <h3>Stock: </h3>
      <mat-form-field style="margin-left: 15px; width: 300px;">
        <input matInput type="number" min="1" formControlName="stock" placeholder="Ej: 5" (change)="changeStock()">
      </mat-form-field>
    </span> -->
  </div>
  
  <span class="container-searcher-buttons" *ngIf="seleccionProducto">
    <button mat-button class="button" style="margin-left: 170px;" (click)="putProducto()" *ngIf="!productoCargado">
      Aceptar
    </button>
    <button mat-button disabled style="margin-left: 170px;" class="button-disabled" *ngIf="productoCargado">
      Aceptar
    </button>
    <button mat-button class="button" style="margin-left: 100px;" (click)="limpiar()">
      Limpiar
    </button>
  </span>
</span>


<span style="display: flex; justify-content: center;">
  <div class="alert" *ngIf="faltanDatos">
    <label class="label-alert">Recuerde completar todos los campos</label>
  </div>
</span>

<span style="display: flex; justify-content: center;">
  <div class="success" *ngIf="productoCargado">
    <label class="label-success">Se ha modificado con exito el producto</label>
  </div>
</span>