<mat-toolbar>
  <h1 class="titulo">San José - Administración de Deposito</h1>
</mat-toolbar>

<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="sidemenu">
    <mat-nav-list>
      <a class="items" mat-list-item [routerLink]="inicio.route">
      <mat-icon fontSet="material-icons-outlined" class="icons">{{inicio.icon}}</mat-icon>{{inicio.name}}</a>

      <mat-nav-list>
      <a class="items" mat-list-item (click)="open('producto')">
        <div class="row">
          <mat-icon class="icons">{{producto.icon}}</mat-icon>{{producto.name}}
        </div>
        <mat-icon>arrow_drop_down</mat-icon>
      </a>
        <div *ngIf="!ocultarProductos" class="sub-items">
          <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of productos">
            <mat-icon class="icons">{{nav.icon}}</mat-icon>{{nav.name}}</a>
        </div>
      </mat-nav-list>

      <mat-nav-list>
        <a class="items" mat-list-item (click)="open('entrada')">
          <div class="row">
            <mat-icon class="icons">{{entrada.icon}}</mat-icon>{{entrada.name}}
          </div>
          <mat-icon>arrow_drop_down</mat-icon>
        </a>
          <div *ngIf="!ocultarEntradas" class="sub-items" >
            <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of entradas">
              <mat-icon class="icons">{{nav.icon}}</mat-icon>{{nav.name}}</a>
          </div>
        </mat-nav-list>

        <mat-nav-list>
          <a class="items" mat-list-item (click)="open('salida')">
            <div class="row">
              <mat-icon class="icons">{{salida.icon}}</mat-icon>{{salida.name}}
            </div>
            <mat-icon>arrow_drop_down</mat-icon>
          </a>
          <div *ngIf="!ocultarSalidas" class="sub-items" >
            <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of salidas">
              <mat-icon class="icons">{{nav.icon}}</mat-icon>{{nav.name}}</a>
          </div>
          </mat-nav-list>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>