.mat-toolbar{
  background-color: #029954
}

.titulo{
  margin-left: 1%; 
  color: white
}

.container{
  height: 690px;
}

.sidemenu{
  width: 260px;
  background-color: #fafafa;
}

.items{
  margin-top: 4%;
}

.row{
  width: 98%; 
  display: flex; 
  align-items: center;
}

.sub-items{
  display: flex; 
  flex-direction: column;
  justify-content: end;
  margin-left: 3%;
}

.icons{
  margin-right:10%
}

.content{
  background-color: white;
}